%ul.uk-list.uk-list-divider
  - segment[:commits].each do |commit|
    %li.commit{id: 'rev-' + commit[:revision]}
      %h3
        - if commit[:short_revision]
          %abbr{title: commit[:revision]}= commit[:short_revision]
        - else
          %code= commit[:revision]
        %span= ' - ' + escape_once(commit[:message].strip.split("\n", 2).first)
      .uk-panel
        %span{:'uk-icon' => 'user'}
        %span= commit[:author_name]
        %span.uk-text-meta{:'uk-icon' => 'clock'}
        %time.uk-text-meta{datetime: commit[:time]}= commit[:time].strftime('%A, %B %e, %Y at %l:%M %p (%z)')
      %p= escape_once(commit[:message].strip.split("\n", 2).last).strip.gsub(/(\r*\n)+/, "<br />\n")
      .uk-panel.stats
        - if commit[:stats][:files_added] > 0
          .uk-padding-small.uk-display-inline-block.files_added
            %span.uk-text-success{:'uk-icon' => 'copy'}
            %span.uk-text-success= "#{commit[:stats][:files_added]} new file#{commit[:stats][:files_added] == 1 ? '' : 's'}"
        - if commit[:stats][:lines_added] > 0
          .uk-padding-small.uk-display-inline-block.lines_added
            %span.uk-text-success{:'uk-icon' => 'code'}
            %span.uk-text-success= "#{commit[:stats][:lines_added]} line#{commit[:stats][:lines_added] == 1 ? '' : 's'} added"
        - if commit[:stats][:files_removed] > 0
          .uk-padding-small.uk-display-inline-block.files_removed
            %span.uk-text-danger{:'uk-icon' => 'trash'}
            %span.uk-text-danger= "#{commit[:stats][:files_removed]} new file#{commit[:stats][:files_removed] == 1 ? '' : 's'}"
        - if commit[:stats][:lines_removed] > 0
          .uk-padding-small.uk-display-inline-block.lines_removed
            %span.uk-text-danger{:'uk-icon' => 'code'}
            %span.uk-text-danger= "#{commit[:stats][:lines_removed]} line#{commit[:stats][:lines_removed] == 1 ? '' : 's'} removed"
        - if commit[:stats][:files_modified] > 0
          .uk-padding-small.uk-display-inline-block.files_modified
            %span.uk-text-warning{:'uk-icon' => 'file-edit'}
            %span.uk-text-warning= "#{commit[:stats][:files_modified]} file#{commit[:stats][:files_modified] == 1 ? '' : 's'} modified"