!!! 5
%html
  %head
    %title= report.title
    %style= css
    %script= js

  %body
    .uk-section.uk-section-small.uk-light.uk-background-primary
      .uk-container
        %h1= report.title
        %p.summary= report.summary

    - report.segments.each do |segment|
      .uk-section.uk-section-xsmall
        .uk-container
          .uk-card.uk-card-default.segment{id: segment.slug}
            .uk-card-header.uk-background-default{:'uk-sticky' => 'uk-sticky'}
              %h2.uk-card-title.uk-margin-remove-bottom= segment.title
            .uk-card-body.content= yield segment

    .uk-section.uk-section-small.uk-light.uk-background-secondary
      .uk-container.footer
        %span.time= "Report created on #{report.time.strftime('%A, %B %e, %Y at %l:%M %p (%z)')}"